<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% comment %} {% extends "AppCoder/padre.html" %} {% endcomment %}

    {% load static %}
    
    {% block titulo %}
    <h1 class="mb-5">El padre</h1>
    {% endblock %}

    {% block contenido_que_cambia %}
    <p>EL nombre del padre es: {{Nombre}}</p>
    {% endblock %}
    
</body>
</html>

