<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% load static %}
    
    {% block titulo %}
    <h1 class="mb-5">El padre</h1>
    {% endblock %}
    
    {% comment %} {% block contenido_que_cambia %}
    <h5>Nombre: {{nom}} </h5>
    <h5>Apellido: {{ap}} </h5>
    <h5>Edad: {{edad}} </h5>
    <h5>Nacionalidad: {{nac}} </h5> {% endcomment %}
    {% endblock %}
    
</body>
</html>

